<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.1000.523" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6072" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Design" version="14.3.25407" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="10.0.30319" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6073" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50728" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6072" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net45" />
</packages>