################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StBill/bin/Debug
/StBill/obj/Debug
